@mixin flex {
  display: flex;
}

@mixin flexcenter {
  @include flex();
  align-items: center;
}

@mixin flexCj($jus:space-between) {
  justify-content: $jus;
  @include flexcenter();
}

@mixin flexWrap {
  @include flexcenter();
  justify-content: space-between;
  flex-wrap: wrap;
}


@mixin flex-column {
  @include flex();
  flex-direction: column;
}

@mixin wrap($topicWidth:686rpx) {
  width: $topicWidth;
  margin: 0 auto;
}

@mixin wrapPadding($topPadding, $bottomPadding) {
  width: 750rpx;
  box-sizing: border-box;
  padding: $topPadding 32rpx $bottomPadding;
}

// 主题颜色
$theme-color: #F97D01;
$main-color: #fff;

// 文字超出显示...
@mixin oneLine {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  word-break: break-all;
}

@mixin moreLine($count:2) {
  text-overflow: -o-ellipsis-lastline;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: $count;
  line-clamp: $count;
  -webkit-box-orient: vertical;
}

@mixin grayLine($width:622rpx) {
  width: $width;
  height: 1rpx;
  background: rgba(235, 237, 240, 1);
}


.root-view {
  min-height: calc(100vh - var(--window-top));
  background-color: #F9F9F9;
  box-sizing: border-box;
  position: relative;
  padding-bottom: calc(var(--ios-bottom-height) + var(--window-top) + var(--tabbar-height));
}


.has-tabbar {
  background-color: tan;
  position: relative;
  min-height: calc(100vh - var(--window-top));
  box-sizing: border-box;
  border-top: 1px solid transparent;
  //border-bottom: 1px solid transparent;
  @include flex-column();

}
.navbar-img{
  background-color: transparent;
  background-size: 100%;
  background-repeat: no-repeat;
}

.flex-column-container {
  flex: 1;
  background-color: #8cd2ca;

}

.card {
  margin: 30rpx 30rpx 0;
  padding: 30rpx;
  background-color: #fff;
  box-sizing: border-box;
  border-radius: 20rpx;
}

.button {
  padding-left: 8px;
  padding-right: 8px;
}

.button:after {
  border: none;
}


[is$="uni-popup"] ::v-deep .uni-popup {
  z-index: 9999;
}

[mode="widthFix"][mode="widthFix"] {
  height: auto;
}

.mask-view-box {
  position: relative;
}

.mask-view {
  position: absolute;
  inset: 0;
  background-color: #fafafa;
  opacity: .3;
  z-index: 1001;
}
